flask
flask-cors
pymongo
python-dotenv
langchain
langchain-community
langchain-google-genai
chromadb
pydantic
requests
PyJWT
cryptography
gunicorn
sentence-transformers
langchain-huggingface
langchain-huggingface
langchain-pinecone
langchain-openai
